<a href="https://colab.research.google.com/github/nubahnh/Machine-Learning/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Handling missing datas:

import pandas as pd
data = {
    'Name': ['Pavan','Aman','Shreya', 'Mari','Shanu'],
        'Age': [25,22,None,None,30],
        'Salary':[30000,40000,50000,None,None]
    }
df = pd.DataFrame(data)
print('Original dataframe:')
print(df)

print(df.isnull().sum()) #find out which columns have missing values
df_drop =df.dropna() #drop columns with missing values
print(df_drop)

#df['Age'].fillna(df['Age'].mean(),inplace =True)
#df['Salary'].fillna(df['Salary'].mean(),inplace=True)
#print(df)

df.fillna({'Age':df['Age'].mean()}, inplace=True)
df.fillna({'Salary':df['Salary'].mean()}, inplace=True)
print(df)

print(df.isnull().mean()*100) # percent of data missing -->find before droping any values

Original dataframe:
     Name   Age   Salary
0   Pavan  25.0  30000.0
1    Aman  22.0  40000.0
2  Shreya   NaN  50000.0
3    Mari   NaN      NaN
4   Shanu  30.0      NaN
Name      0
Age       2
Salary    2
dtype: int64
    Name   Age   Salary
0  Pavan  25.0  30000.0
1   Aman  22.0  40000.0
     Name        Age   Salary
0   Pavan  25.000000  30000.0
1    Aman  22.000000  40000.0
2  Shreya  25.666667  50000.0
3    Mari  25.666667  40000.0
4   Shanu  30.000000  40000.0
Name      0.0
Age       0.0
Salary    0.0
dtype: float64

In [ ]:
import pandas as pd


data = {
    'Name': ['Ayesha', 'Rahim', 'Nabil', 'Tania', 'Farhan', 'Lamia', 'Rafi', 'Mita'],
    'Age': [24, None, 29, 31, None, 27, 35, None],
    'Department': ['IT', 'HR', 'Finance', None, 'IT', 'Marketing', None, 'Finance'],
    'Experience (Years)': [2, 1, None, 5, 3, None, 8, 4],
    'Salary': [35000, 28000, 50000, None, 42000, 39000, None, None]
}
df = pd.DataFrame(data)
print(df)
print(df.isnull().sum())

#dropped = df.dropna()
#print(dropped)

df.fillna({'Age':df['Age'].mean()},inplace =True)
df.fillna({'Department':'IT'},inplace = True)
df.fillna({'Experience (Years)':df['Experience (Years)'].mean()},inplace = True)
df.fillna({'Salary':df['Salary'].mean()},inplace = True)
print(df)

     Name   Age Department  Experience (Years)   Salary
0  Ayesha  24.0         IT                 2.0  35000.0
1   Rahim   NaN         HR                 1.0  28000.0
2   Nabil  29.0    Finance                 NaN  50000.0
3   Tania  31.0       None                 5.0      NaN
4  Farhan   NaN         IT                 3.0  42000.0
5   Lamia  27.0  Marketing                 NaN  39000.0
6    Rafi  35.0       None                 8.0      NaN
7    Mita   NaN    Finance                 4.0      NaN
Name                  0
Age                   3
Department            2
Experience (Years)    2
Salary                3
dtype: int64
     Name   Age Department  Experience (Years)   Salary
0  Ayesha  24.0         IT            2.000000  35000.0
1   Rahim  29.2         HR            1.000000  28000.0
2   Nabil  29.0    Finance            3.833333  50000.0
3   Tania  31.0         IT            5.000000  38800.0
4  Farhan  29.2         IT            3.000000  42000.0
5   Lamia  27.0  Marketing            3.833333  39000.0
6    Rafi  35.0         IT            8.000000  38800.0
7    Mita  29.2    Finance            4.000000  38800.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!mkdir -p ~/.kaggle
!cp /content/drive/MyDrive/kaggle/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2025.10.5)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.4.4)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.11)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle) (0.5.1)

In [ ]:
!kaggle datasets list | head

ref                                                             title                                                    size  lastUpdated                 downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  -------------------------------------------------  ----------  --------------------------  -------------  ---------  ---------------
ahmeduzaki/global-earthquake-tsunami-risk-assessment-dataset    Global Earthquake-Tsunami Risk Assessment Dataset       16151  2025-10-01 16:35:53.273000          19278        652  1.0
ahmadrazakashif/bmw-worldwide-sales-records-20102024            BMW Worldwide Sales Records (2010–2024)                853348  2025-09-20 14:39:45.280000          23310        456  1.0
ayeshaimran123/social-media-and-mental-health-balance           Social Media and Mental Health Balance                   5941  2025-10-26 07:51:53.380000           3703         52  1.0
anandshaw2001/amazon-product-sales-2025                         Amazon Diwali Product Sales 2025                       397394  2025-11-02 06:45:32.877000           1514         30  1.0
sadiajavedd/students-academic-performance-dataset               Students_Academic_Performance_Dataset                    8907  2025-10-23 04:16:35.563000           2658         64  1.0
aliiihussain/car-price-prediction                               Car Price Prediction Dataset (2025)                     46557  2025-10-17 19:54:34.140000           1315         30  1.0
umuttuygurr/e-commerce-customer-behavior-and-sales-analysis-tr  E-Commerce Customer Behavior & Sales Analysis -TR      584451  2025-11-09 07:40:27.120000           3059         62  1.0
jockeroika/life-style-data                                      Life Style Data                                       3995645  2025-10-14 13:50:45.303000          22632        432  0.8235294

In [ ]:
!kaggle datasets download -d yasserh/titanic-dataset -p /content/data
!unzip -o /content/data/titanic-dataset.zip -d /content/data

Dataset URL: https://www.kaggle.com/datasets/yasserh/titanic-dataset
License(s): CC0-1.0
Downloading titanic-dataset.zip to /content/data
  0% 0.00/22.0k [00:00<?, ?B/s]
100% 22.0k/22.0k [00:00<00:00, 76.1MB/s]
Archive:  /content/data/titanic-dataset.zip
  inflating: /content/data/Titanic-Dataset.csv

In [ ]:
!kaggle datasets download -d yasserh/titanic-dataset -p /content/data

Dataset URL: https://www.kaggle.com/datasets/yasserh/titanic-dataset
License(s): CC0-1.0
titanic-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip -o /content/data/titanic-dataset.zip -d /content/data

Archive:  /content/data/titanic-dataset.zip
  inflating: /content/data/Titanic-Dataset.csv

In [ ]:
!ls /content/data

Titanic-Dataset.csv  titanic-dataset.zip

In [ ]:
#Categorical encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
df = pd.read_csv('/content/data/Titanic-Dataset.csv')
df.head()
df_label= df.copy() # duplicate of og table
df.dropna(inplace = True)
#df['Cabin'] = df['Cabin'].fillna('Unknown')
df.fillna({'Cabin':'Unknown'},inplace =True)
#df['Cabin'].isna().sum()


le = LabelEncoder()
df_label['Sex'] = le.fit_transform(df_label['Sex'])


df_encoded = pd.get_dummies(df, columns =['Embarked'], dtype = int) #one hot encoding , dtype = int ensures its 0/1 not boolean t/f
print('\nOne Hot Encoding {Embarked}')
print(df_encoded)

df_label

One Hot Encoding {Embarked}
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin  Embarked_C  Embarked_Q  Embarked_S
1        0  PC 17599  71.2833          C85           1           0           0
3        0    113803  53.1000         C123           0           0           1
6        0     17463  51.8625          E46           0           0           1
10       1   PP 9549  16.7000           G6           0           0           1
11       0    113783  26.5500         C103           0           0           1
..     ...       ...      ...          ...         ...         ...         ...
871      1     11751  52.5542          D35           0           0           1
872      0       695   5.0000  B51 B53 B55           0           0           1
879      1     11767  83.1583          C50           1           0           0
887      0    112053  30.0000          B42           0           0           1
889      0    111369  30.0000         C148           1           0           0

[183 rows x 14 columns]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# from sklearn.preprocessing import StandardScaler , MinMaxScaler
# import pandas as pd
# df = pd.read_csv('/content/data/Titanic-Dataset.csv')
# sc = StandardScaler() #creating object
# x_scaled = sc.fit_transform(df)
# print(x_scaled)
# sc = MinMaxScaler()
# x_scaled = sc.fit_transform(df)
# print(x_scaled)

In [ ]:
#Feature Scaling

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler ,MinMaxScaler
from sklearn.model_selection import train_test_split

data = {
    'Hours' : [1,2,3,4,5],
    'test score' : [40,50,60,70,80]
} #numpy array

df = pd.DataFrame(data)
sc = StandardScaler()
x = sc.fit_transform(df) #use mean and sd to scale; z(standarized output) = (actual -mean)/sd
print("Standard Scalar Output")
print(pd.DataFrame(x, columns = ['Hours','test score']))

Standard Scalar Output
      Hours  test score
0 -1.414214   -1.414214
1 -0.707107   -0.707107
2  0.000000    0.000000
3  0.707107    0.707107
4  1.414214    1.414214

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split

data = {
    'Hours' : [1,2,3,4,5],
    'test score' : [40,50,60,70,80]
} #numpy array

df = pd.DataFrame(data)
mmsc = MinMaxScaler()
x = mmsc.fit_transform(df) # scaled = x-xmin / xmax-xmin
print("Min Max Scalar Output")
print(pd.DataFrame(x, columns = ['Hours','test score']))

Min Max Scalar Output
   Hours  test score
0   0.00        0.00
1   0.25        0.25
2   0.50        0.50
3   0.75        0.75
4   1.00        1.00

In [ ]:
#Split Data
import pandas as pd
from sklearn.preprocessing import StandardScaler ,MinMaxScaler
from sklearn.model_selection import train_test_split

data = {
    'Hours' : [1,2,3,4,5],
    'test score' : [40,50,60,70,80]
} #numpy array

df = pd.DataFrame(data)
sc = StandardScaler()
x = sc.fit_transform(df) #use mean and sd to scale; z(standarized output) = (actual -mean)/sd
print("Standard Scalar Output")
print(pd.DataFrame(x, columns = ['Hours','test score']))

#DAta SPlitting for training and testing
X = df[['Hours']] #input
y = df[['test score']] #output
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42 ) #split data to x,y ;20% data will be used for testing 80% for training , #random_state =42 always get the same split
print("Training Data: ",X_train)
print("Testing Data: ",X_test)
print("Training Data: ",y_train)
print("Testing Data: ",y_test)

Standard Scalar Output
      Hours  test score
0 -1.414214   -1.414214
1 -0.707107   -0.707107
2  0.000000    0.000000
3  0.707107    0.707107
4  1.414214    1.414214
Training Data:     Hours
4      5
2      3
0      1
3      4
Testing Data:     Hours
1      2
Training Data:     test score
4          80
2          60
0          40
3          70
Testing Data:     test score
1          50

In [ ]:
#Supervised Learning

In [ ]:
#Linear Regression